h1{
    text-align: center;
    color: blanchedalmond;
}
body{
    background-color: black;
}
.b1{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: #2f3330;
    background-color:#2f3330;
}
.b2{
    width: 100px;
    height: 150px;
    margin-left: 29%;
    margin-top: -11%;
    color:#28ad4b;
    background-color:#28ad4b;
}
.b3{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color:#0d4008;
    background-color:#0d4008;
}
.b4{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: chocolate;
    background-color: chocolate;
} 
.b5{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: rgb(151, 114, 96);
    background-color: rgb(151, 114, 96);
} 
.b6{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: #2f3330;
    background-color:#2f3330;
}
.b7{
    width: 100px;
    height: 150px;
    margin-left: 1%;
    margin-top: 1%;
    color:#28ad4b;
    background-color:#28ad4b;
}
.b8{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color:#0d4008;
    background-color:#0d4008;
}
.b9{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: chocolate;
    background-color: chocolate;
} 
.b10{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: rgb(151, 114, 96);
    background-color: rgb(151, 114, 96);
} 
.b11{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: rgb(151, 114, 96);
    background-color: rgb(151, 114, 96);
} 
.b12{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: #2f3330;
    background-color:#2f3330;
}
.b13{
    width: 100px;
    height: 150px;
    margin-left: 1%;
    margin-top: 1%;
    color: #28ad4b;
    background-color: #28ad4b;
}
.b14{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color:#0d4008;
    background-color:#0d4008;
}
.b15{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: chocolate;
    background-color: chocolate;
} 
.b16{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: rgb(151, 114, 96);
    background-color: rgb(151, 114, 96);
} 
.b17{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: #2f3330;
    background-color:#2f3330;
}
.b18{
    width: 100px;
    height: 150px;
    margin-left: 1%;
    margin-top: 1%;
    color:#28ad4b;
    background-color:#28ad4b;
}
.b19{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color:#0d4008;
    background-color:#0d4008;
}
.b20{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: chocolate;
    background-color: chocolate;
} 
.b21{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: rgb(151, 114, 96);
    background-color: rgb(151, 114, 96);
} 
.b21{
    margin-left: 1%;
    margin-top: 1%;
    width: 100px;
    height: 150px;
    color: rgb(151, 114, 96);
    background-color: rgb(151, 114, 96);
} 
.b22{
    margin-left: 1%;
    margin-top: 1%;
    width: 99px;
    height: 150px;
    color: rgb(151, 114, 96);
    background-color: rgb(151, 114, 96);
} 





